# Java/Scala
*.class
*.jar
*.war
*.ear

# Build products
target/
build/

# GIT
.git/

# Logging
*.log
logs/

# Worksheet
*.sc

# Mac OS X
.DS_Store

# Windows
Thumbs.db

# Eclipse
.settings/
.buildpath
.classpath
.project

# IntelliJ data
*.iml
.idea/
.ipr
.bsp/

# thumbnails
._*

